body {
  min-height: calc(100vh - 100px);
  margin: 0;
  background:linear-gradient(40deg, #774f57, #465abe);
  background-position: 95% 99%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  color: white;
}
table {
  border-collapse: collapse;
  text-align: center;
}
table td {
  /* structure */
  padding: 7px 10px;

  /* presentation */
  border: 1px dashed white;
  text-align: center;
}

article {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  border: 10px white outset;
}

h3 {

  font-size: larger;

}
